<div class="values">
  <div class="col-xs-3 col-sm-3">
    <%= image_tag("004-interface.png", class: "value-image") %>
    <p class="paddingtop">Devis gratuit</p>
  </div>
  <div class="col-xs-3 col-sm-3">
    <%= image_tag("001-medal.png", class: "value-image") %>
    <p class="paddingtop">Qualité</p>
  </div>
  <div class="col-xs-3 col-sm-3">
    <%= image_tag("003-repair-expert.png", class: "value-image") %>
    <p class="paddingtop">Expertise</p>
  </div>
  <div class="col-xs-3 col-sm-3">
    <%= image_tag("002-document.png", class: "value-image") %>
    <p class="paddingtop">Certification</p>
  </div>
</div>

<div class="generalbgfooter">


<footer class="footer row">
  <div class="col-md-4">
    <h2 class="text-center fontcolor1">J.P. Pouget Entreprise</h2>
    <br>
    <p class="pcolor">Agréé tous travaux en hauteur pour l’intervention en milieu industriel pour l’étanchéité de toitures, le désamiantage, l’isolation extérieure, l’isolation de toits-terrasses.</p>
    <br>
    <div class="row">
      <i class="fa fa-map-marker fa-2x col-md-1 pcolor contacticon" aria-hidden="true"></i>
      <div class="col-md-11">
        <p class="pcolor">22 Rue de Charlotte Dufour</p>
        <p class="pcolor">59220 Denain</p>
      </div>

    </div>
    <br>
    <div class="row">
      <i class="fa fa-phone col-md-1 pcolor fa-2x contacticon" aria-hidden="true"></i>

      <div class="col-md-11">
        <p class="pcolor">Tél : 03.27.44.20.32</p>
        <p class="pcolor">Fax : 03.27.43.17.03</p>
      </div>
    </div>

  </div>
      <div class="col-md-4">
      <div class="text-center">
        <%= image_tag("images/jppouget2017.png", :alt => "Logo", :class=> "logofooter paddingbottom") %>
      </div>
    </div>
  <div class="col-md-4">
    <div class="text-center">
    <h2 class="text-center fontcolor1">Zone d'intervention</h2>
    <br>
    <p class="pcolor">Nous intervenons dans un rayon d’une heure autour de Denain dans les communes telles que Dainville, Lens, Douai, Béthune, Cambrai et dans tout le département du Nord-Pas-de-Calais.</p>
    <br>
    <p class="pcolor">Interventions d’urgence dans les 24h.</p>
    <p class="pcolor">Astreinte 7j/7 par téléphone.</p>
  </div>

</footer>
<div class="copyright">
  <p class="text-center">&copy; 2018 J.P.Pouget Entreprise - Tout droits réservés - Cookies - Réalisé par <a href="#">WakoWeb</a> </p>
</div>
</div>
